<!DOCTYPE html>
<html ng-app="genieApp" ng-controller="GenieCtrl">
  <head>
    <title>GenieJS</title>
    <meta name="author" content="Kent C. Dodds">
    <meta name="keywords" content="GenieJS, Alfred App, JavaScript, User Experience, UX">
    <meta name="description" content="GenieJS is a JavaScript library to improve user experience by allowing users to perform actions with their keyboard. GenieJS also learns the user's preferences over time.">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css" />
    <script src="bower_components/angular/angular.js"></script>
  </head>
  <body>
    <div>
      <iframe src="//ghbtns.com/github-btn.html?user=kentcdodds&repo=genie&type=watch&count=true" height="20" width="118" frameborder="0" scrolling="0" style="width:118px; height: 20px;" allowTransparency="true"></iframe>
      <a href="//twitter.com/share" class="twitter-share-button" data-url="http://kent.doddsfamily.us/genie" data-via="kentcdodds" data-text="Genie - Better than keyboard shortcuts" data-hashtags="GenieJS" data-lang="en">Tweet</a>
      <div class="g-plusone" data-size="medium" data-annotation="inline" data-width="300" data-href="http://kent.doddsfamily.us/genie"></div>
    </div>
    <a href="https://github.com/kentcdodds/genie"><img id="fork-me" src="images/forkme.png" alt="Fork me on GitHub"></a>
    <header>
      <img id="genie-logo" src="images/genie-lamp.png" alt="GenieJS Logo" ng-click="rubLamp($event, genieStyle.template)" ga>
      <h3>Type an apostrophe ( ' ) to see all the wishes</h3>
      <small class="muted">*You can also click/tap the lamp image above.</small>
      <h4 ng-if="wishesMade">Wishes made: {{wishesMade}}</h4>
      <p>
        GenieJS was built to simulate the behavior in apps like
        <a href="http://www.alfredapp.com/" genie-wish="What is Alfred?" wish-context="{{demoContext}}" wish-i-icon="{{iconPrefix}}question-circle" target="_blank" ga>Alfred</a>.<br />

        Essentially, you register actions with keywords and then you can find those actions via a keyword search.<br />
        
        For info on the <a href="https://github.com/kentcdodds/genie#vernacular" genie-wish="What's a wish?" wish-context="{{demoContext}}" wish-i-icon="{{iconPrefix}}question-circle" target="_blank" ga>vernacular</a> of wishes and magic words,
        see the <a href="https://github.com/kentcdodds/genie" genie-wish="See Genie on GitHub" wish-context="{{demoContext}}" wish-i-icon="{{iconPrefix}}github" target="_blank" ga>project on GitHub</a>.<br />
        
        There's also an <a href="http://www.angularjs.org/" target="_blank" genie-wish="What's AngularJS?" wish-context="{{demoContext}}" wish-i-icon="{{iconPrefix}}question-circle" ga>AngularJS</a>
        module with a few useful directives called <a href="http://www.github.com/kentcdodds/ux-genie" target="_blank" genie-wish="See uxGenie on GitHub" wish-context="{{demoContext}}" wish-i-icon="{{iconPrefix}}github" ga>uxGenie on GitHub</a>.<br />

        All tests are written using Mocha. Go <a href="tests/testrunner.html" genie-wish="Run Tests" wish-context="{{demoContext}}" wish-img-icon="./images/mocha.png" target="_blank" ga>here</a> to run them.
      </p>
      <div>
        <h4>See the api docs <a href="autodoc" genie-wish="API Docs" wish-context="{{demoContext}}" wish-i-icon="{{iconPrefix}}file-text-o" ga>here</a></h4>
      </div>
      <p>
        <strong>Note:</strong> If you're on a mobile device, you will not be able to use this demo. Instead you can watch this
        <a href="http://www.youtube.com/watch?v=nJrtn8B4FzM" genie-wish="Watch Demo Video" wish-context="{{demoContext}}" wish-i-icon="{{iconPrefix}}youtube-play" target="_blank" ga>demo video</a>. Please also visit the
        <a href="https://github.com/kentcdodds/genie" target="_blank" ga>GitHub project</a>.
      </p>
      <p>
        Do you see a problem? <a href="http://github.com/kentcdodds/genie/issues" genie-wish wish-context="{{demoContext}}" wish-i-icon="{{iconPrefix}}bug">Report an issue!</a>
      </p>
    </header>

    <hr />

    <div>
      <h1>Demo</h1>
      <ol id="instructions-list">
        <li>Press Ctrl+Space to open the Genie Search Box</li>
        <li>Optionally type an apostrophe (') to show all wishes
          (<a href="https://github.com/kentcdodds/ux-genie#view-all-wishes"
              target="_blank"
              genie-wish="Read about the ' feature"
              wish-i-icon="{{iconPrefix}}github"
              wish-context="{{demoContext}}"
              ga>about this feature</a>)
        </li>
        <li>Type anything to filter the wishes</li>
        <li>Mouse over or arrow down to the wish you wish and click/press return</li>
        <li>Notice how genie learns the wishes you make and organizes them more logically the more you use it</li>
        <li>Change the lamp's styles below</li>
      </ol>
      <div id="styles-control">
        <p>
          Change Lamp Styles
        </p>
      <span class="radio">
        <label>
          <input type="radio" value="light" ng-model="genieStyle.color"> Light
        </label>
        <br />
        <label>
          <input type="radio" value="dark" ng-model="genieStyle.color"> Dark
        </label>
      </span>
      <span class="radio">
        <label>
          <input type="radio" value="large" ng-model="genieStyle.size"> Large
        </label>
        <br />
        <label>
          <input type="radio" value="small" ng-model="genieStyle.size"> Small
        </label>
      </span>
      <span class="radio">
        <label>
          <input type="radio" value="fast" ng-model="genieStyle.animationSpeed"> Fast
        </label>
        <br />
        <label>
          <input type="radio" value="slow" ng-model="genieStyle.animationSpeed"> Slow
        </label>
      </span>
      <span class="radio">
        <label>
          <input type="radio" value="default" ng-model="genieStyle.template"> Default Template
        </label>
        <br />
        <label>
          <input type="radio" value="custom" ng-model="genieStyle.template"> Custom Template
        </label>
      </span>
      </div>
    </div>


    <hr />

    <div id="usage">
      <h1>
        How to use Genie
      </h1>
      Both examples below will create a wish which will alert "Consider them done!" to the user.<br />
      Go ahead and give it a try! Copy the JavaScript and paste it in your console then make the wish!
      <div>
        <h2>JavaScript</h2>
        <pre>genie({
  magicWords: 'Do my dishes',
  action: function doDishes() {
    alert('Consider them done!');
  }
});</pre>
      </div>
      <div>
        <h2>AngularJS Directive</h2>
        <pre>&lt;button ng-click="doDishes()" genie-wish&gt;Do my dishes&lt;/button&gt;</pre>
      </div>
      That's it! It's pretty simple! Obviously, you need to include the dependency on your page and there is a lot more to it if you want more control.<br />
      Head over to the <a href="https://github.com/kentcdodds/genie" ga>GitHub project</a> to see more documentation on the customization you can do.
    </div>

    <hr />
    <div>
      <h2>Genie Workshop</h2>
      The best way to learn how to use Genie in an interactive way. Checkout the
      <a href="http://kent.doddsfamily.us/genie-workshop/" genie-wish wish-i-icon="{{iconPrefix}}cogs" wish-context="{{demoContext}}">Genie Workshop</a>.
    </div>

    <hr />

    <div>
      <h2>Want Genie Everywhere?</h2>
      Try the <a href="https://chrome.google.com/webstore/detail/genies-lamp/pimmaneflgfbknjkjdlnffagpgfeklko" genie-wish wish-i-icon="{{iconPrefix}}cog" wish-context="{{demoContext}}">Chrome Extension</a>
    </div>

    <div id="bottom-stuff">
      <div class="custom-template {{genieStyle.color + ' ' + genieStyle.size + ' ' + genieStyle.animationSpeed}}" ng-show="genieStyle.template === 'custom'">
        <div ux-lamp="lamp" lamp-visible="lamp.genieVisible" rub-class="visible" wish-callback="lamp.wishMade()" local-storage="genie">
          <input type="text" ng-model="lamp.input" class="lamp-input input form-control" />
          <div>
            This is a custom template! Type "Default" to go back <i class="{{iconPrefix}}smile-o"></i><br />
            You can customize the dom used for the lamp. Type "uxGenie" to see the docs.
            <div  ng-if="lamp.focusedWish">
              Wish <strong>"{{lamp.focusedWish.data.uxGenie.displayText || lamp.focusedWish.magicWords[0]}}"</strong> Data:<br />
              Total Times Executed: {{lamp.focusedWish.data.timesMade.total}}<br />
              Magic words executed with:
              <ul>
                <li ng-repeat="(key, value) in lamp.focusedWish.data.timesMade.magicWords" ng-if="key !== 'total'">
                  {{key}}: {{value}}
                </li>
              </ul>
            </div>
          </div>
          <div ng-show="lamp.matchingWishes.length > 0" class="lamp-wishes-container">
            <div class="lamp-wish wish-{{wish.id}}" ng-repeat="wish in lamp.matchingWishes" ng-class="{focused: lamp.focusedWish == wish}" ng-click="lamp.makeWish(wish)" ng-mouseenter="lamp.focusOnWish(wish, false)">
              <span class="wish-icon">
                <img class="wish-img-icon" ng-if="wish.data.uxGenie.imgIcon" ng-src="{{wish.data.uxGenie.imgIcon}}">
                <i class="wish-i-icon {{wish.data.uxGenie.iIcon}}" ng-if="wish.data.uxGenie.iIcon"></i>
              </span>
              <span class="wish-display">{{wish.data.uxGenie.displayText || wish.magicWords[0]}}</span>
            </div>
          </div>
        </div>
      </div>
      
      <div class="default-template {{genieStyle.color + ' ' + genieStyle.size + ' ' + genieStyle.animationSpeed}}" ng-show="genieStyle.template === 'default'">
        <div ux-lamp lamp-visible="customLamp.genieVisible" rub-class="visible" wish-callback="customLamp.wishMade()" local-storage="genie">
        </div>
      </div>

      <hr />

      <div>
        Don't be a stranger <i class="{{iconPrefix}}smile-o"></i>
        <div class="follow-social">
          <iframe src="http://ghbtns.com/github-btn.html?user=kentcdodds&type=follow&count=true" height="20" width="168" frameborder="0" scrolling="0" style="width:168px; height: 20px;" allowTransparency="true"></iframe>
          <a href="https://twitter.com/kentcdodds" class="twitter-follow-button" data-show-count="true" data-lang="en">Follow @kentcdodds</a>
          <div class="g-follow" data-annotation="bubble" data-height="20" data-href="//plus.google.com/114245123507194646768" data-rel="author"></div>
        </div>
      </div>
    </div>
    
    <script src="src/genie.js"></script>
    <script src="app.js"></script>
    <script src="bower_components/ux-genie/uxGenie.js"></script>
    <script src="bower_components/angular-ga/ga.js"></script>

    <!-- Twitter -->
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

    <!-- Google+ -->
    <script type="text/javascript">
      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/platform.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
    </script>

    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-42764912-1', 'doddsfamily.us');
      ga('require', 'displayfeatures');
      ga('send', 'pageview');
    </script>
  </body>
</html>
