body {
  margin: 50px 100px 50px 100px;
}

h3 {
  color: #999
}

.rub-the-lamp {
  background: rgba(0, 0, 0, 0);
  color: #428BCA;
  text-decoration: none;
  cursor: pointer;
}

.rub-the-lamp:hover, .rub-the-lamp:focus {
  color: #2A6496;
  outline: 0;
  text-decoration: underline;
}

#fork-me {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}

.btn {
  margin-bottom: 12px;
}

.follow-social {
  margin-top: 12px;
}

#bottom-stuff {
  clear: both;
}

#wish-output {
  color: #808080;
}

#genie-export-import {
  width: 250px;
  height: 300px;
}

.genie-container {
  opacity: 0;
}

#uxLampContainer.fast .genie-container {
  transition: all .2s ease-in-out;
}

#uxLampContainer.slow .genie-container {
  transition: all 1s ease-in-out;
}

.genie-container.visible {
  opacity: 1;
  z-index: 1050;
}

/* ng-genie default styles */
.genie-container {
  position: fixed;
  top: 10%;
  left: 50%;
  z-index: -1;
  -mos-border-radius: 8px;
  border-radius: 8px;
}

.genie-container > input {
  -mos-border-radius: 8px;
  border-radius: 8px;
  margin: 0px;
  width: 100%;
}

.genie-wishes {
  width: 100%;
  margin-top: 10px;
  cursor: pointer;
  overflow-y: auto;
}

.genie-wish {
}

.genie-wish > img, .genie-wish > i {
  vertical-align: text-top;
}

.genie-wish.focused {
  -mos-border-radius: 8px;
  border-radius: 8px;
}

/* ng-genie light styles */
#uxLampContainer.light .genie-container {
  color: #333;
  background-color: #F7F7F7;
  box-shadow: 0px 0px 26px 6px #888888;
}

#uxLampContainer.light .genie-wish.focused {
  background-color: #DDD;
}

/* ng-genie light styles */
#uxLampContainer.dark .genie-container {
  color: rgb(238, 238, 238);
  background-color: #474747;
  box-shadow: 0px 0px 26px 6px #CCCCCC;
}

#uxLampContainer.dark .genie-container > input {
  background-color: #272727;
  border-color: #2E2E2E;
  color: white;
}

#uxLampContainer.dark .genie-wish.focused {
  background-color: #2E2E2E;
}


/* ng-genie large styles */
#uxLampContainer.large .genie-container {
  width: 600px;
  margin-left: -300px;
  padding: 16px;
}

#uxLampContainer.large .genie-container > input {
  line-height: 60px;
  padding: 0px 12px 0px 12px;
  font-size: 40px;
  height: 60px;
}

#uxLampContainer.large .genie-wishes {
  max-height: 300px;
  font-size: 30px;
}

#uxLampContainer.large .genie-wish {
  padding: 0px 12px 0px 12px;
  line-height: 50px;
}

#uxLampContainer.large .genie-wish > img, #uxLampContainer.large .genie-wish > i {
  height: 35px;
  margin-right: 10px;
}

/* ng-genie small styles */
#uxLampContainer.small .genie-container {
  width: 300px;
  margin-left: -150px;
  padding: 12px;
}

#uxLampContainer.small .genie-container > input {
  line-height: 50px;
  padding: 0px 12px 0px 12px;
  font-size: 34px;
  height: 54px;
}

#uxLampContainer.small .genie-wishes {
  max-height: 216px;
  font-size: 18px;
}

#uxLampContainer.small .genie-wish {
  padding: 0px 12px 0px 12px;
  line-height: 36px;
}

#uxLampContainer.small .genie-wish > img, #uxLampContainer.small .genie-wish > i {
  height: 20px;
  margin-right: 5px;
}
