body {
  margin: 50px 100px 50px 100px;
}

h3 {
  color: #999
}

.btn {
  margin-bottom: 12px;
}
#wish-output {
  color: #808080;
}

#genie-export-import {
  width: 250px;
  height: 300px;
}

.genie-container {
  opacity: 0;
}

#ngLampContainer.fast .genie-container {
  transition: all .2s ease-in-out;
}

#ngLampContainer.slow .genie-container {
  transition: all 1s ease-in-out;
}

.genie-container.visible {
  opacity: 1;
  z-index: 1050;
}

/* ng-genie default styles */
.genie-container {
  position: fixed;
  top: 10%;
  left: 50%;
  z-index: -1;
  -mos-border-radius: 8px;
  border-radius: 8px;
}

.genie-container > input {
  -mos-border-radius: 8px;
  border-radius: 8px;
  margin: 0px;
}

.genie-wishes {
  margin-top: 10px;
  cursor: pointer;
  overflow-y: auto;
}

.genie-wish {
}

.genie-wish.focused {
  -mos-border-radius: 8px;
  border-radius: 8px;
}

/* ng-genie light styles */
#ngLampContainer.light .genie-container {
  color: #333;
  background-color: #F7F7F7;
  box-shadow: 0px 0px 26px 6px #888888;
}

#ngLampContainer.light .genie-wish.focused {
  background-color: #DDD;
}

/* ng-genie light styles */
#ngLampContainer.dark .genie-container {
  color: rgb(238, 238, 238);
  background-color: #474747;
  box-shadow: 0px 0px 26px 6px #CCCCCC;
}

#ngLampContainer.dark .genie-container > input {
  background-color: #272727;
  border-color: #2E2E2E;
  color: white;
}

#ngLampContainer.dark .genie-wish.focused {
  background-color: #2E2E2E;
}


/* ng-genie large styles */
#ngLampContainer.large .genie-container {
  width: 384px;
  margin-left: -208px;
  padding: 16px;
}

#ngLampContainer.large .genie-container > input {
  width: 358px;
  line-height: 60px;
  padding: 0px 12px 0px 12px;
  font-size: 40px;
  height: 60px;
}

#ngLampContainer.large .genie-wishes {
  width: 384px;
  max-height: 300px;
  font-size: 30px;
}

#ngLampContainer.large .genie-wish {
  padding: 0px 12px 0px 12px;
  line-height: 50px;
}

/* ng-genie small styles */
#ngLampContainer.small .genie-container {
  width: 300px;
  margin-left: -150px;
  padding: 12px;
}

#ngLampContainer.small .genie-container > input {
  width: 274px;
  line-height: 50px;
  padding: 0px 12px 0px 12px;
  font-size: 34px;
  height: 54px;
}

#ngLampContainer.small .genie-wishes {
  width: 297px;
  max-height: 216px;
  font-size: 24px;
}

#ngLampContainer.small .genie-wish {
  padding: 0px 12px 0px 12px;
  line-height: 36px;
}