body {
  margin: 50px 100px 50px 100px;
}

h3 {
  color: #999
}

.btn {
  margin-bottom: 12px;
}
#wish-output {
  color: #808080;
}

#genie-export-import {
  width: 250px;
  height: 300px;
}

.genie-container {
  opacity: 0;
}

#uxLampContainer.fast .genie-container {
  transition: all .2s ease-in-out;
}

#uxLampContainer.slow .genie-container {
  transition: all 1s ease-in-out;
}

.genie-container.visible {
  opacity: 1;
  z-index: 1050;
}

/* ng-genie default styles */
.genie-container {
  position: fixed;
  top: 10%;
  left: 50%;
  z-index: -1;
  -mos-border-radius: 8px;
  border-radius: 8px;
}

.genie-container > input {
  -mos-border-radius: 8px;
  border-radius: 8px;
  margin: 0px;
}

.genie-wishes {
  margin-top: 10px;
  cursor: pointer;
  overflow-y: auto;
}

.genie-wish {
}

.genie-wish.focused {
  -mos-border-radius: 8px;
  border-radius: 8px;
}

/* ng-genie light styles */
#uxLampContainer.light .genie-container {
  color: #333;
  background-color: #F7F7F7;
  box-shadow: 0px 0px 26px 6px #888888;
}

#uxLampContainer.light .genie-wish.focused {
  background-color: #DDD;
}

/* ng-genie light styles */
#uxLampContainer.dark .genie-container {
  color: rgb(238, 238, 238);
  background-color: #474747;
  box-shadow: 0px 0px 26px 6px #CCCCCC;
}

#uxLampContainer.dark .genie-container > input {
  background-color: #272727;
  border-color: #2E2E2E;
  color: white;
}

#uxLampContainer.dark .genie-wish.focused {
  background-color: #2E2E2E;
}


/* ng-genie large styles */
#uxLampContainer.large .genie-container {
  width: 384px;
  margin-left: -208px;
  padding: 16px;
}

#uxLampContainer.large .genie-container > input {
  width: 358px;
  line-height: 60px;
  padding: 0px 12px 0px 12px;
  font-size: 40px;
  height: 60px;
}

#uxLampContainer.large .genie-wishes {
  width: 384px;
  max-height: 300px;
  font-size: 30px;
}

#uxLampContainer.large .genie-wish {
  padding: 0px 12px 0px 12px;
  line-height: 50px;
}

/* ng-genie small styles */
#uxLampContainer.small .genie-container {
  width: 300px;
  margin-left: -150px;
  padding: 12px;
}

#uxLampContainer.small .genie-container > input {
  width: 274px;
  line-height: 50px;
  padding: 0px 12px 0px 12px;
  font-size: 34px;
  height: 54px;
}

#uxLampContainer.small .genie-wishes {
  width: 297px;
  max-height: 216px;
  font-size: 24px;
}

#uxLampContainer.small .genie-wish {
  padding: 0px 12px 0px 12px;
  line-height: 36px;
}

/*
 * uxSesame styles
 */
#uxSesameContainer {
    background-color: rgba(30, 30, 30, 0.75);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding-top: 30px;
    color: white;
}

#uxSesameContainer .sesame-interface {
  margin: 0% 10% 0% 10%;
}

#uxSesameContainer .sesame-mic {
  margin-top:40px;
  border-radius: 50%;
  height: 250px; 
  width: 250px;
  margin-right: auto;
  margin-left: auto;
}

#uxSesameContainer .sesame-mic .icon-mic {
  font-size: 150px;
  width: 244px;
  padding-top: 44px;
  height: 200px;
  background-color: rgba(128, 128, 128, 0.5);
  line-height: 150px;
  border-radius: 50%;
}

#uxSesameContainer .genie-controls {
  font-size: 26px;
  margin: 50px;
}

#uxSesameContainer .genie-controls .speech-text {
  margin-bottom: 30px;
}

#uxSesameContainer .genie-controls .speech-text .unsure {
  color: #AAA;
}

#uxSesameContainer .sesame-wish-options {
  line-height: 30px;
  text-align: left;
  background-color: rgba(128, 128, 128, 0.5);
  border-radius: 16px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

#uxSesameContainer .sesame-wish-option {
  padding: 10px;
  margin: 5px 0px 5px 0px;
}

#uxSesameContainer .sesame-wish-option.focused:first-child {
  border-radius: 16px 16px 0px 0px;
}

#uxSesameContainer .sesame-wish-option.focused:last-child {
  border-radius: 0px 0px 16px 16px;
}

#uxSesameContainer .sesame-wish-option.focused {
  background-color: white;
  color: black;
}