body {
  margin: 30px 20px 30px 20px;
}

pre {
  overflow-x: scroll;
  white-space: pre;
  word-wrap: normal;
}

.ng-cloak {
  visibility: hidden;
}
.genie-code {
  padding: 0;
}

.margin-top-small {
  margin-top: 10px;
}

.margin-top-medium {
  margin-top: 20px;
}

.margin-right-xxxlarge {
  margin-right: 200px;
}

.cursor-pointer {
  cursor: pointer;
}

/* Insert genie lamp css */

.genie-lamp-container {
  opacity: 0;
  position: fixed;
  top: 10%;
  left: 50%;
  z-index: -1;
  -mos-border-radius: 8px;
  border-radius: 8px;
  color: #333;
  background-color: #F7F7F7;
  box-shadow: 0 0 26px 6px #888888;
  width: 600px;
  margin-left: -300px;
  padding: 16px;
  transition: all .2s ease-in-out;
}

.genie-lamp-container.visible {
  opacity: 1;
  z-index: 1050;
}

.lamp-input {
  -mos-border-radius: 8px;
  border-radius: 8px;
  margin: 0px;
  width: 100%;
  line-height: 60px;
  padding: 0px 12px 0px 12px;
  font-size: 40px;
  height: 60px;
}

.lamp-wishes-container {
  width: 100%;
  cursor: pointer;
  overflow-y: auto;
  margin-top: 10px;
  max-height: 300px;
  font-size: 30px;
}

.lamp-wish {
  padding: 0 12px 0 12px;
  line-height: 50px;
  position: relative;
}

.lamp-wish.focused {
  -mos-border-radius: 8px;
  border-radius: 8px;
  background-color: #DDD;
}

.wish-icon.has-img + .wish-display-text {
  margin-left: 42px;
}

.wish-img-icon {
  position: absolute;
  margin-top: 8px;
}

.wish-img-icon, .wish-i-icon {
  vertical-align: middle;
  height: 35px;
  margin-right: 10px;
}

/* End genie lamp css */